@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(0, 0%, 42%);
    --Gray:hsl(0, 0%, 7%);
}

main{
    background-color: var(--Yellow);
    height: 98vh;
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
}

.card{
    background-color: var(--White);
    height: fit-content;
    width: 385px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    padding: 24px;
    margin-top: 100px;
    font-family: "Figtree";
}
@media screen and (max-width: 400px) {
    .card{
        width: 327px;
    }
    .imgTop{
        width: 279px;
    }
    
}
.content img {
    border-radius: 23px;
}
.content h1:hover{
    color: var(--Yellow);
    cursor: pointer;
}
.text{
    margin: 12px 0 12px 2px;
    line-height: 150%;
    letter-spacing: 0;
}

.credit img{
    height: 30px;
}
.credit{
    display: flex;
    align-items: center;
    gap: 20px;
}
.info, .date, .theme{
    font-size: 1rem;
}
.info, .date{
    font-weight: 400;
}
.credit, .theme{
    font-weight: 700;
}
.info{
    color: hsl(0, 0%, 42%);
}
.date{
    color: hsl(0, 0%, 7%)
}
.title {
    font-size: 1.5rem;
}
.credit{
    margin-top: 20px;
}
.theme{
    background-color: var(--Yellow);
    padding: 8px;
    width: fit-content;
    border-radius: 5px;
}